.jss2 {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
}

.jss171 {
  display: block;
}

.jss90 {
  background-color: #38404A;
}

.jss91 {
  background-color: #292F38;
}

.jss177 {
  color: inherit;
  position: relative;
  padding-bottom: 16px;
  background-color: #16181d;
}

.jss178 {
  color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  font-size: 26px;
  background: none;
}

.jss179 {
  color: #fff;
  padding: 16px 0px;
  border-bottom: 1px solid #292F38;
  background-color: #15181C;
}

.jss180 {
  color: inherit;
  display: block;
  padding: 12px;
  background: linear-gradient(91.35deg, #232830 -13.17%, #334A69 -13.16%, #223045 102.15%);
  border-radius: 4px;
  text-decoration: none;
}

.jss176 {
  color: inherit;
  border: none;
  height: 100%;
  display: flex;
  padding: 0;
  font-size: 26px;
  background: none;
  align-items: center;
  margin-left: 16px;
}

.jss128 {
  color: inherit;
  height: 100%;
  display: flex;
  font-size: 26px;
  align-items: center;
}

.jss1 {
  color: #fff;
  width: 100%;
  display: flex;
  padding: 16px 0px;
  z-index: 1201;
  justify-content: center;
  background-color: #15181C;
}

@media (min-width:900px) {
  .jss1 {
    height: 72px;
    padding: 0;
  }
}

.jss73 {
  color: #0091EA;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.jss73:hover {
  text-decoration: underline;
}

.jss74 {
  color: inherit;
}

.jss75 {
  display: inline;
}

.jss92 {
  padding: 24px 0px 0px 0px;
}

.jss92:first-child {
  padding-top: 0;
}

@media (min-width:600px) {
  .jss92:nth-child(odd) {
    padding-right: 16px;
  }

  .jss92:nth-child(even) {
    padding-left: 16px;
  }

  .jss92:nth-child(2) {
    padding-top: 0;
  }
}

.jss93 {
  margin: 0px 0px 4px;
  font-size: 1rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width:600px) {
  .jss93 {
    font-size: .875rem;
    font-family: Avenir, system-ui, sans-serif;
    font-weight: 600;
    line-height: 1.2;
  }
}

.jss94 {
  width: 100%;
  display: block;
  transition: all .5s;
  padding-top: 56.25%;
  background-size: cover;
  background-color: #292F38;
  background-position: center;
}

.jss95 {
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.jss95:hover>a {
  transform: scale(1.05);
}

.jss96 {
  color: #F3F4F6;
}

.jss90 {
  background-color: #38404A;
}

.jss91 {
  background-color: #292F38;
}

.jss177 {
  color: inherit;
  position: relative;
  padding-bottom: 16px;
  background-color: #16181d;
}

.jss178 {
  color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  font-size: 26px;
  background: none;
}

.jss179 {
  color: #fff;
  padding: 16px 0px;
  border-bottom: 1px solid #292F38;
  background-color: #15181C;
}

.jss180 {
  color: inherit;
  display: block;
  padding: 12px;
  background: linear-gradient(91.35deg, #232830 -13.17%, #334A69 -13.16%, #223045 102.15%);
  border-radius: 4px;
  text-decoration: none;
}

.jss176 {
  color: inherit;
  border: none;
  height: 100%;
  display: flex;
  padding: 0;
  font-size: 26px;
  background: none;
  align-items: center;
  margin-left: 16px;
}

.jss128 {
  color: inherit;
  height: 100%;
  display: flex;
  font-size: 26px;
  align-items: center;
}

.jss1 {
  color: #fff;
  width: 100%;
  display: flex;
  padding: 16px 0px;
  z-index: 1201;
  justify-content: center;
  background-color: #15181C;
}

@media (min-width:900px) {
  .jss1 {
    height: 72px;
    padding: 0;
  }
}

.jss73 {
  color: #0091EA;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.jss73:hover {
  text-decoration: underline;
}

.jss74 {
  color: inherit;
}

.jss75 {
  display: inline;
}

.jss81:hover {
  cursor: pointer;
}

.jss82 {
  color: #F3F4F6;
  width: 100%;
}

.jss82:hover {
  text-decoration: none;
}

.jss83 {
  min-width: 175px;
}

.jss84 {
  border-color: rgba(255, 255, 255, 0.12);
  border-style: solid;
  border-width: 1px;
}

.jss85 {
  width: 1.25em;
  height: 1.25em;
  margin-right: 8px;
}

.jss63 {
  width: 20px;
  height: 20px;
}

.jss78 {
  margin: 40px 0px 40px 0px;
  border-left: 3px solid #B3BACB;
  padding-left: 24px;
}

.jss78+blockquote {
  margin-top: -40px;
  padding-top: 24px;
}

.jss71 {
  margin-bottom: 12px;
}

.jss71 li:last-child {
  margin-bottom: 0;
}

.jss70 {
  margin: 24px 0px;
}

.jss66+p {
  margin-top: 0;
}

.jss67 {
  font-size: 1.4rem;
  margin-top: 56px;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
}

@media (min-width:600px) {
  .jss67 {
    font-size: 1.6rem;
  }
}

.jss67:first-child {
  margin-top: 0;
}

.jss68 {
  font-size: 1.2rem;
  margin-top: 40px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.jss68:first-child {
  margin-top: 0;
}

.jss69 {
  font-size: 1rem;
  margin-top: 40px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.jss69:first-child {
  margin-top: 0;
}

.jss76 {
  cursor: pointer;
  margin: 32px 0px;
  display: block;
}

.jss77 {
  top: 8px;
  color: #0091EA;
  right: 8px;
  position: absolute;
}

.jss79 {
  margin: 24px 0px;
}

.jss72 {
  margin: 24px 0px;
}

.jss64 {
  font-size: 1rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 400;
  line-height: 150%;
}

@media (min-width:900px) {
  .jss64 {
    font-size: 18px;
  }
}

.jss87 {
  color: #f57c01;
}

.jss88 {
  color: #fff;
  background-color: #F19837;
}

.jss88:hover {
  background-color: #f57c01;
}

.jss89 {
  color: #0091EA;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: .875rem;
  background: none;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.jss89:hover,
.jss89:focus {
  text-decoration: underline;
}

.jss89:focus {
  outline: none;
}

.jss86 {
  color: white;
  border-color: #292F38;
}

.jss86:hover {
  border-color: #292F38;
  background-color: #16181d;
}

.jss80 {
  font-size: .8rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 8px;
  border-radius: 0;
  text-transform: uppercase;
  background-color: #292F38;
}

.jss80:last-child {
  margin-right: 0;
}

.jss60 {
  overflow: hidden;
  position: relative;
  max-height: 400px;
}

.jss60::after {
  width: 100%;
  bottom: 0;
  height: 120px;
  content: "";
  z-index: 1;
  position: absolute;
  background: linear-gradient(to bottom, rgb(8, 10, 12, 0), #080A0C);
}

.jss61 {
  margin: 0px 0px 8px;
  font-size: 2rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.06em;
}

@media (min-width:900px) {
  .jss61 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
}

.jss62 {
  margin: 0px 0px 4px;
  line-height: 1;
}

.jss125 {
  color: #009C3F;
}

.jss126 {
  color: #d22b3e;
}

.jss127 {
  color: #9299AA;
}

.jss124 {
  margin-right: 5px;
}

.jss118 {
  color: white;
  text-decoration: none;
}

.jss119 {
  width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jss120 {
  width: 45px;
  height: 45px;
  margin: 8px;
  font-weight: 600;
}

.jss121 {
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  background-color: #292F38;
}

.jss121:hover {
  background-color: #585E6A;
}

.jss122 {
  color: #9299AA;
}

.jss123 {
  color: #3E91E3;
  font-size: 15px;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  text-transform: none;
}

.jss123:hover {
  color: #AED8FD;
  background: none;
}

.jss181 {
  margin: 16px 0px;
}

.jss182 {
  background: transparent;
}

.jss183 {
  display: flex;
  padding: 0;
  flex-direction: column;
}

.jss184 {
  width: 100%;
  height: 40px;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  padding-left: 24px;
}

.jss184 a {
  color: #F3F4F6;
  padding: 4px 0px;
}

.jss185 {
  color: #F3F4F6;
  width: 1em;
  height: 1em;
  margin: 0px 8px;
}

.jss116 {
  border-color: #38404A;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: #16181d;
}

.jss116.Mui-error {
  border-color: #D92A00;
}

.jss116.Mui-focused {
  border-color: #0091EA;
  background-color: #16181d;
}

.jss116:hover {
  background-color: #16181d;
}

.jss116.Mui-disabled {
  color: #6C7280;
  background-color: #16181d;
}

.jss116.MuiFilledInput-multiline {
  padding: 0px 16px;
}

.jss117 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.jss117::placeholder {
  color: #38404A;
  opacity: 1;
}

.jss107 {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.jss108 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.jss109 {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.jss110 {
  color: #D92A00;
  font-size: .875rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 600;
  line-height: 1.75;
}

.jss111 {
  width: 90%;
  display: flex;
}

.jss112 {
  left: -99999px;
  position: absolute;
}

.jss113 {
  align-self: center;
  margin-left: 8px;
}

.jss114 {
  color: #009C3F;
  font-size: .875rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 600;
  line-height: 1.75;
}

.jss115 {
  color: #9299AA;
  margin: 0px 0px 16px;
}

.jss98 {
  margin: 16px 0px;
}

.jss99 {
  padding: 8px 0px;
}

@media (max-width:899.95px) {
  .jss99 {
    text-align: center;
  }
}

.jss100 {
  display: flex;
  padding: 16px 0px 16px 40px;
  flex-direction: column;
}

@media (max-width:899.95px) {
  .jss100 {
    padding: 16px 0px;
    align-items: center;
  }
}

@media (min-width:900px) {
  .jss100 {
    align-items: flex-end;
  }
}

.jss101 {
  display: flex;
  align-items: center;
}

@media (max-width:899.95px) {
  .jss101 {
    margin: 8px 0px;
    justify-content: center;
  }
}

@media (min-width:900px) {
  .jss101 {
    justify-content: flex-end;
  }
}

.jss101 a {
  color: #F3F4F6;
  padding: 0px 8px;
  font-size: .8rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.jss102 {
  color: #9299AA;
  display: flex;
  font-size: .8rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width:899.95px) {
  .jss102 {
    margin: 8px 0px;
    text-align: center;
    justify-content: center;
  }
}

    .jss58 {
      color: #F3F4F6;
      min-height: 50px;
      font-weight: 500;
      text-transform: none;
    }
    
    .jss58:hover {
      color: #0091EA;
      background: none;
    }
    
    .jss59>*:first-child {
      font-size: 15px;
    }
.jss55 {
  border-radius: 4px;
  background-color: #DBDEE6;
}

.jss53 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.jss54 {
  top: 0;
  z-index: 3;
  position: sticky;
}

.jss49 {
  padding: 32px 0px;
  flex-grow: 1;
  font-size: 1rem;
  max-width: 34em;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  margin-left: auto;
  margin-right: auto;
}

.jss49 img {
  max-width: 100%;
}

@media (min-width:600px) {
  .jss49 {
    padding: 48px 0px;
  }
}

@media (min-width:900px) {
  .jss49 {
    padding: 64px 0px;
    font-size: 17px;
  }
}

.jss50 {
  font-size: 1.4rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 600;
  line-height: 1;
}

@media (min-width:600px) {
  .jss50 {
    font-size: 1.6rem;
  }
}

.jss78 {
  margin: 40px 0px 40px 0px;
  border-left: 3px solid #B3BACB;
  padding-left: 24px;
}

.jss78+blockquote {
  margin-top: -40px;
  padding-top: 24px;
}


.jss171 {
  display: block;
}

.jss2 {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
}
